/* footer section - start
==================================================================================================== */
.footer-section {
	z-index: 1;
	position: relative;
	padding-top: 220px;
	padding-bottom: 10px;
	background-size: 100% 100%;
	background-position: center bottom;

	.contact-info {
		h3 {
			font-size: 22px;
			margin-bottom: 45px;
			font-family: 'Poppins SemiBold';
			span {
				height: 35px;
				margin-right: 10px;
			}
		}
		p {
			margin-bottom: 25px;
		}
		a {
			color: $default-black;
			&:hover {
				text-decoration: none;
				opacity: 0.8;
			}
		}
		>ul {
			>li {
				margin-bottom: 5px;
				&:last-child {
					margin-bottom: 0px !important;
				}
			}
		}
	}

	.contact-form {
		.form-item {
			margin-bottom: 15px;
			textarea {
				min-height: 200px;
			}
		}
	}

	.contact-section {
		margin-bottom: 110px;
	}

	.menu-list {
		padding-top: 50px;
		>ul {
			margin-bottom: 15px;
			>li {
				margin-right: 90px;
				&:last-child {
					margin-right: 0px !important;
				}
				>a {
					color: $pure-white;
					&:hover {
						text-decoration: none;
						opacity: 0.8;
					}
				}
			}
		}
		p {
			color: #d0969d;
			margin-bottom: 0px;
		}
	}

	.shape-1 {
		left: 0px;
		right: 0px;
		bottom: 0px;
		z-index: -1;
		position: absolute;
	}

}
/* footer section - end
==================================================================================================== */