// default font - start
// ==================================================
$body-font: 'Poppins Regular';
$heading-font: 'Poppins Regular';
// default font - end
// ==================================================

// custom colors - start
// ==================================================
$default-color: #53585f;
$default-black: #303030;

$pure-white: #ffffff;
$pure-black: #000000;

$deep-gray: #f0f0f0;
$light-gray: #f7f7f7;
$rating-star: #f2b01e;
// custom colors - end
// ==================================================



// transition - start
// ==================================================
$default-transition: all .3s ease-in-out;
// transition - end
// ==================================================