/* table of content - start
==================================================================================================== */
/* ==================================================
Project Name 	:  ----------
File 			:  CSS Base
Version 		:  1.0.0
Last change 	:  -- ----- ----
Author 			:  ----------
Developer:		:  Rakibul Islam Dewan
================================================== */
/* table of content - end
==================================================================================================== */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,600,600i,700,700i|Roboto:400,400i,500,500i,700,700i,900,900i');

@import "variable";
@import "fonts";
@import "reset";
@import "header";
@import "footer";
@import "home";
@import "responsive";
@import "custom";